.wrapper{
    position: relative;
    height: max-content;
}

.icon{
    color: black;
}

.icon:hover, .icon:focus, .icon:focus-visible{
    color: steelblue;
}

.dropdown{
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.dropdownItem{
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    user-select: none;
    font-size: 0.8rem;
}

.dropdownItem:hover{
    background-color: steelblue;
    color: white;
}